.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.45);
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 900px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media(max-width:768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}