.search-box {
  background: white;
  padding: 1rem;
  border-radius: 18px;

  display: grid;
  grid-template-columns:
    2fr 1fr 1fr 1fr auto;

  gap: 10px;
}

.search-box input,
.search-box select {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

.search-box button {
  background: #ff385c;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.search-box button:hover {
  opacity: .9;
}


@media(max-width:768px) {
  .search-box {
    grid-template-columns: 1fr;
  }
}